body {
    font-family: Montserrat-VariableFont_wght, serif;
    overflow-x: hidden;
    margin: 0;
}

/* HEADER-ITEMS */

.main_image {
    float: left;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
    align-items: center;
    margin-right: 120px;
    padding-top: 45px;
}

.head-part {
    margin-right: 60px;
}

nav.head-part {
    color: #156963;
    font-family: Nunito, serif;
}

.sign-in {
    border: 10px solid #156963;
    background: #156963;
    color: white;
    font-family: Nunito, serif;
}

.main-text {
    display: flex;
    flex-direction: column;
    margin: 0 0 200px;
    padding: 120px 70px;
}

.main-text-upp {
    color: #156963;
    font-size: 70px;
    font-weight: bold;
}


p.main-text-upp {
    margin: 0;
}

.main-text-low {
    line-height: 40px;
    font-size: 20px;
}

p.main-text-low {
    margin: 24px 0;
}

/* ADV ITEMS AND PLANTS ON SALE */

.advantages {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    align-items: center;
    margin: 55px 20px;
    padding-top: 100px;
}

.advantage-part {
    border: 1px solid #E0E0E0;
    width: 268px;
    height: auto;
    margin: 20px auto auto;
}

.sale {
    margin-top: 80px;
    text-align: center;
}

.sale_plants {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    border-top: 3px solid #E0E0E0;
    padding-top: 50px;
}

.plant_part{
    margin: 20px auto;
}

.plant_image{
    width: 217px;
    height: 217px;
    margin: auto 0;
}

.plant_name{
    font-size: 16px;
}

.plant_cost{
    font-size: 16px;
    font-weight: bold;
}

.featured{
    font-weight: bold;
    font-size: 20px;
}

.middle-block{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    position: relative;
}

.pt{
    padding-top: 80px;
}

.size{
    width: 100%;
    height: auto;
}

.middle-block-item{
    padding-left: 40px;
    margin-top: 20px;
    width: 45%;
    height: auto;
}

.middle-block-big-text{
    font-size: 40px;
    font-weight: bold;
}

.middle-block-small-text{
    font-size: 16px;
}

/* FAV PLANTS AND LAST BLOCKS*/

.last-block{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 55px 80px;
    position: relative;
    background: #F3F4F6;
    align-items: center;
}

.last-block-item{
    margin: 20px auto;
}

.last-block-middle-text{
    font-size: 40px;
    font-weight: bold;
    margin: 20px 100px;
    text-align: center;
}

.last-block-small-text{
    margin-left: 100px;
    color: #FFFFFF;
    border: 10px solid #156963;
    background: #156963;
    font-family: Nunito, serif;
}

/* FOOTER */

footer{
    margin-top: 60px;
    border-top: 3px solid #E0E0E0;
    padding: 60px 150px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.colored-button{
    font-size: 8px;
    margin: 14px 0;
    color: #FFFFFF;
    border: 10px solid #156963;
    background: #156963;
    font-family: Nunito, serif;
}

.footer-item{
    margin-top: 20px;
    font-family: 'Work Sans', serif;
    flex-grow: 1;
    flex-shrink: 1;
}

.footer-item h3{
    font-weight: bold;
}

.footer-item h2{
    font-weight: bold;
    font-family: 'Poppins', serif;
    color: #156963;
}

.footer-item p{
    font-size: 14px;
}

.bolded{
    font-weight: bold;
}

input{
    padding: 5px;
    border: 1px solid #cccccc;
    color: #534f4f;
    width: 100%;
}

@media (max-width: 816px) {
    .middle-block-item{
        width: 100%;
        padding-right: 40px;
    }
}

@media (max-width: 1400px) {
    .last-block-item{
        text-align: center;
    }
}