body{
    background-color: #87c0de;
}




table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse ;
    border: 3px solid black;
}

h3 {
    color: black;
    text-align: center;
}
button {
    text-align: center;
}




thead th:nth-child(1) {
    width: 30%;
}

thead th:nth-child(2) {
    width: 20%;
}

thead th:nth-child(3) {
    width: 15%;
}

thead th:nth-child(4) {
    width: 35%;
}




html {
    font-family: 'helvetica neue', helvetica, arial, sans-serif;
}




thead th, tfoot th {
    font-family: 'Rock Salt', cursive;
}

th {
    letter-spacing: 3px;
}

td {
    letter-spacing: 2px;
}

tbody td {
    text-align: center;
}

tfoot th {
    text-align: right;
}

tbody tr:nth-child(odd) {
    background-color: #ebe6dd;
}

tbody tr:nth-child(even) {
    background-color: #ddcba0;
}

table {
    background-color: #ebe6dd;
}

